.flex-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
#play-rock {
    height: 200px;
    width: 200px;
}
#play-paper {
    height: 200px;
    width: 200px;
}
#play-scissors {
    height: 200px;
    width: 200px;
}
.buttons-hover:hover {
    background: cornflowerblue;
    border: 1px solid royalblue;
    cursor: pointer;
}
h1 {
    text-align: center;
}
#messages {
    font-size: larger;
    text-align: center;
    color: blue;
}